!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    :css
      .chart div {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;
      }
  %body
    .chart
    %script{:src => "http://d3js.org/d3.v3.min.js"}
    :javascript
      var data = raw @visits;
      
      var x = d3.scale.linear()
          .domain([0, d3.max(data)])
          .range([0, 420]);
      
      d3.select(".chart")
        .selectAll("div")
          .data(data)
        .enter().append("div")
          .style("width", function(d) { return x(d) + "px"; })
          .text(function(d) { return d; });

%h1 Events#index
%p #{@visits}

%p #{@events.count}
%p #{@clicks.count}

/ %canvas#canvas{:height => "100", :width => "200"}